# Игнорируем виртуальное окружение
venv/

# Игнорируем файлы конфигурации с секретами
.env
.env.local


# Игнорируем временные файлы и тесты
*.pyc
__pycache__/
.dockerignore

my_test.py
for_test_cod.py
two.py